<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"></meta>
    <title>歌曲评论信息</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="/css/footer.css"></link>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/index">网易云音乐</a>
        </div>
    </div>
</nav>

<div class="container" style="margin-top:50px">
    <div class="row">
        <div class="col-sm-8">
            <div class="blog-post">
                <span class="col-sm-8"></span>
            </div>
            <h3><a href="">网易云音乐爬虫</a></h3>
            <a href="/get">换个歌单看看</a><br></br>
            <a href="/">回到首页</a>
            <hr></hr>
            <h3>以下是获取到的歌单信息</h3>
            <div th:object="${plmsg}">
                <div>
                    <center>
                        <img th:src="@{${plmsg.image}}" th:width="300" th:height="300"></img><br></br>
                        <h4><b>歌单名：</b><b th:text="${plmsg.name}"></b><br></br></h4>
                        歌单作者：<span th:text="${plmsg.author}"></span><br></br>
                        收藏数：<span th:text="${plmsg.collectCount}"></span><br></br>
                        播放数：<span th:text="${plmsg.playCount}"></span><br></br>
                        标签：<span th:text="${plmsg.tag}"></span><br></br>
                        <a th:href="@{${plmsg.url}}">点击进入歌单</a>
                    </center>
                    <span th:utext="${plmsg.introduction}"></span><br></br>
                </div>
                <div>
                    <h4>歌单列表：</h4>
                    <center>
                        <tr th:each="song:${plmsg.songs}">
                        <tr><a th:utext="${song}" th:href="@{${song.url}}"></a></tr>
                        </tr>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>